@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #021229;
}

html::-webkit-scrollbar {
  display: none;
}

nav {
  height: 60px;
  width: 100%;
  background-color: rgba(0, 16, 39, 0.5019607843);
  font-size: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  list-style: none;
}
nav ul li a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 12px;
  transition: all 0.2s ease;
  position: relative;
  padding-bottom: 10px;
}
nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: 0;
  transition: all ease-out 0.3s;
}
nav ul li:hover a {
  text-shadow: 0 0 10px #ffffff;
}
nav ul li:hover a::before {
  width: 100%;
}

section {
  padding: 70px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bubbles {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: space-evenly;
}
.bubbles span {
  min-height: 15px;
  min-width: 15px;
  max-height: 15px;
  max-width: 15px;
  border-radius: 50%;
  animation: animated 15s linear infinite;
  animation-duration: calc(140s / var(--duration));
}
.bubbles span:nth-child(even) {
  background-color: #4fc3dc;
  box-shadow: 0 0 10px 8px rgba(79, 195, 220, 0.2666666667), 0 0 25px #4fc3dc, 0 0 50px #4fc3dc;
}
.bubbles span:nth-child(odd) {
  background-color: #ff2d75;
  box-shadow: 0 0 10px 8px rgba(255, 45, 117, 0.2666666667), 0 0 25px #ff2d75, 0 0 50px #ff2d75;
}
@keyframes animated {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.7);
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh) scale(1);
  }
}

#page1 .greeting {
  position: relative;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#page1 .text {
  color: #ffffff;
  font-size: 34px;
  font-weight: 600;
}
#page1 .text.first-text {
  text-shadow: 0 0 8px #ffffff;
}
#page1 .text.second-text {
  text-shadow: 0 0 8px #00d0ff;
  position: relative;
  color: #4fc3dc;
}
#page1 .text.second-text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #021229;
  border-left: 3px solid #4fc3dc;
  animation: typing 4s steps(12) infinite;
}
@keyframes typing {
  40%, 60% {
    left: calc(100% + 5px);
  }
  100% {
    left: 0%;
  }
}

#page2 .card {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 16, 39, 0.5019607843);
  width: 100%;
  height: 85vh;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 0 20px 4px rgba(216, 216, 216, 0.6), 0 0 8px rgba(216, 216, 216, 0.6), 0 0 12px rgba(216, 216, 216, 0.6);
}
#page2 .card .mainImage {
  height: 15rem;
  width: 40%;
  margin-bottom: 10px;
  background-color: blue;
  border-radius: 25px;
  overflow: hidden;
}
#page2 .card .mainImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#page2 .card .description {
  font-size: 12px;
  text-align: justify;
  width: 100%;
  color: #ffffff;
  text-indent: 3em;
}
#page2 .card .gifIcon {
  display: flex;
  justify-content: space-around;
  height: 120px;
  width: 100%;
}
#page2 .card .gifIcon .gif1,
#page2 .card .gifIcon .gif2,
#page2 .card .gifIcon .gif3 {
  width: 100px;
  height: 100px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
#page2 .card .gifIcon .gif1:hover,
#page2 .card .gifIcon .gif2:hover,
#page2 .card .gifIcon .gif3:hover {
  transform: translateY(-5px) scale(1.1);
}
#page2 .card .gifIcon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#page3 {
  flex-direction: column;
  justify-content: space-between;
}
#page3 .galery {
  z-index: 20;
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#page3 .galery .messageIcon {
  height: 100px;
  width: 160px;
  position: relative;
  border-radius: 10px;
  background-color: #b0b0b0;
  z-index: 100;
  cursor: pointer;
  overflow: hidden;
  transition: all ease-out 0.2s;
  animation: messageIconAnimation linear 2s infinite;
}
@keyframes messageIconAnimation {
  0% {
    box-shadow: 0 0 0px #ff2d75;
  }
  50% {
    box-shadow: 0 0 30px #ff2d75;
  }
  100% {
    box-shadow: 0 0 0px #ff2d75;
  }
}
#page3 .galery .messageIcon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, 0) rotate(45deg);
  height: 100px;
  width: 100px;
  background-color: red;
}
#page3 .galery li {
  height: 50px;
  border-radius: 50%;
  background-color: rgba(227, 227, 227, 0.1882352941);
  list-style: none;
  position: absolute;
  left: 0;
  transform-origin: 225px;
  transition: 0.5s;
  border-radius: 50%;
  box-shadow: 0 0 20px inset #ffffff;
}
#page3 .galery li img {
  transform: rotate(calc(-45deg * var(--position)));
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#page3 .description {
  margin-top: 20px;
  padding: 20px 20px;
  font-size: 10px;
  color: #ffffff;
  text-align: justify;
  text-indent: 3em;
  background-color: rgba(0, 16, 39, 0.5019607843);
  border: 2px solid #ffffff;
  border-radius: 25px;
  z-index: 9999;
  box-shadow: 0 0 20px 4px rgba(216, 216, 216, 0.6), 0 0 8px rgba(216, 216, 216, 0.6), 0 0 12px rgba(216, 216, 216, 0.6);
}
#page3 .questionBox {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 20px;
}
#page3 .questionBox .button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#page3 .questionBox .button button {
  position: relative;
  height: 40px;
  padding: 0 30px;
  border-radius: 25px;
  background: transparent;
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
#page3 .questionBox .button button:nth-child(1) {
  background-color: rgba(222, 0, 0, 0.5019607843);
}
#page3 .questionBox .button button:nth-child(2) {
  background-color: #092b57;
}
#page3 .questionBox .button button:hover:nth-child(1) {
  background-color: #ff0000;
  box-shadow: 0 0 10px 1px #ff3434;
}
#page3 .questionBox .button button:hover:nth-child(2) {
  background-color: #006eaa;
  box-shadow: 0 0 10px 1px #4fc3dc;
}
#page3 .questionBox img {
  z-index: -1;
  height: 100px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
#page3 .questionBox img:hover {
  scale: 1.1;
}
#page3 .galery.active .messageIcon {
  animation-delay: 2s;
  background-color: #ff2d75;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page3 .galery.active .messageIcon::before {
  display: none;
}
#page3 .galery.active li {
  position: absolute;
  transform-origin: 225px;
  height: 80px;
  transform: rotate(calc(45deg * var(--position)));
}
#page3 .galery.active li img {
  transform: rotate(calc(-45deg * var(--position)));
}
@keyframes imageAnimation {
  0%, 90%, 100% {
    box-shadow: 0 0 0px #ffffff;
    opacity: 0;
  }
  20%, 50% {
    box-shadow: 0 0 30px #ffffff;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  nav ul {
    gap: 100px;
  }
  nav ul li a {
    font-size: 14px;
  }
  section {
    min-width: 100%;
    height: 100vh;
  }
  #page1 .greeting {
    width: 600px;
  }
  #page1 .greeting .text {
    font-size: 48px;
  }
  #page2 .card {
    position: relative;
    height: 60vh;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #page2 .card .mainImage {
    height: 100%;
    width: 30%;
  }
  #page2 .card .description {
    height: 100%;
    width: 70%;
    padding: 1rem;
  }
  #page2 .card .gifIcon {
    position: absolute;
    height: 10em;
    width: 30em;
    bottom: 5%;
    right: 5%;
    display: flex;
    align-items: center;
  }
  #page2 .card .gifIcon .gif1,
  #page2 .card .gifIcon .gif2,
  #page2 .card .gifIcon .gif3 {
    width: 150px;
    height: 150px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
  }
  #page3 {
    display: grid;
    grid-template-areas: "galery description" "galery button";
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  #page3 .galery {
    grid-area: galery;
  }
  #page3 .description {
    font-size: 14px;
    grid-area: description;
  }
  #page3 .questionBox {
    grid-area: button;
  }
  #page3 .questionBox .button {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  #page3 .questionBox img {
    height: 150px;
  }
}
@media (max-width: 767px) {
  section {
    min-height: 100vh;
    width: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #page2 .card {
    min-width: 450px;
    max-width: 600px;
  }
  #page3 .questionBox img:nth-child(1) {
    position: absolute;
    left: 5%;
    bottom: 0;
  }
  #page3 .questionBox img:nth-child(3) {
    position: absolute;
    right: 5%;
    bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */